.form-builder-save {
	display:none !important;
}
.view-data { display:none !important; }
.access-wrap { display: none !important; }
.field-label { display:block !important;}
.hidden-field { display:block !important;}


#welcome-block {
	position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 23px 10px 0;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    font-size: 13px;
    padding-bottom:20px;
}

.welcome-block .welcome-block-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px 10px 21px;
    font-size: 13px;
    line-height: 1.23076923;
    text-decoration: none;
}

.welcome-block .welcome-block-close:before {
    background: 0 0;
    color: #b4b9be;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.welcome-block .welcome-block-close:before {
    margin: 0;
}
.welcome-block .welcome-block-close:before {
    position: absolute;
    top: 8px;
    left: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.welcome-block-content {
    margin-left: 13px;
    max-width: 1500px;
}
.welcome-block .welcome-block-column-container {
    clear: both;
    position: relative;
}
.welcome-block .welcome-block-column:first-child {
    width: 36%;
}
.welcome-block .welcome-block-column {
    width: 32%;
    min-width: 200px;
    float: left;
}

.welcome-block .message {
	margin-right:20px;
}
.welcome-block ul li {
	margin-bottom:3px;
	margin-top:3px;
}

.welcome-block table tr td {
    text-align: left;
    display: table-cell;
    padding-right: 10px;
}
.welcome-block table tr th {
	text-align: left;
	margin-right:20px;
}
.wpcf_nd_vote {
	width:40px;
}


.wpcf-extension {

    float: left;
    margin: 0 1% 1% 0;
    background: #fff;
    border: 1px solid #ccc;
    width: 262px;
    padding: 14px;
    height: 395px;
    position: relative;

}
.wpcf-extension h3 {
    margin: 0 0 8px;
    font-size: 13px;

}

.wpcf-extension .button-secondary {
    position: absolute;
    bottom: 14px;
    left: 14px;
}

.wpcf-shortcode-copy-text {
    opacity: 0;
    visibility: hidden;
    margin: 0 3px;
    padding: 2px;
    transition: opacity 0.8s;
    color: #0085ba;
    border: 1px solid #0085ba;
}

.wpcf-shortcode-copy-text.is-active {
    opacity: 1;
    visibility: visible;
}

.build-wrap .icon-pencil {
    position: relative;
}

.build-wrap .icon-pencil:before,
.build-wrap .icon-pencil:after {
    position: absolute;
    top: 50%;
    left: 14px;
    width: 6px;
    height: 1px;
    content: '';
    transform: rotate(-45deg);
    background: #999;
}

.build-wrap .icon-pencil:after {
    left: 10px;
    transform: rotate(45deg);
}

.build-wrap .icon-pencil:hover:before,
.build-wrap .icon-pencil:hover:after {
    background-color: #fff;
}

.build-wrap .editing .icon-pencil:before {
    transform: rotate(45deg);
}

.build-wrap .editing .icon-pencil:after {
    transform: rotate(-45deg);
}

/* Themes */
.wpcf-admin-img-list {
    overflow: hidden;
}

.wpcf-admin-img-item {
    display: inline-block;
    width: 31.7%;
    float: left;
    margin-right: 2%;
    margin-bottom: 30px;
}

.wpcf-admin-img-item:nth-child(3n) {
    margin-right: 0;
}

.wpcf-admin-img-heading {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.is-active .wpcf-admin-img-heading {
    font-weight: 600;
}

.wpcf-admin-img-link {
    display: block;
    border: 1px solid transparent;
}

.wpcf-admin-img-item:hover .wpcf-admin-img-link,
.is-active .wpcf-admin-img-link {
    border-color: rgba(0, 127, 255, .5);
    box-shadow: 0 0 7px rgba(0, 127, 255, .4);
}

.wpcf-admin-img-thumb {
    width: 100%;
    height: auto;
}

/* Styling */
.wpcf-admin-enable-table-wrapper table {
    max-width: 500px;
    position: relative;
    margin-bottom: 20px;
}

.wpcf-admin-enable-table-wrapper table:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
}

.wpcf-admin-enable-table-wrapper.is-active table:after {
    width: 0;
    height: 0;
}

.wpcf-admin-enable-style-wrapper {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 15px;
    background: #f9f9f9;
    font-size: 16px;
    font-weight: 600;
}

.wpcf-admin-enable-style-wrapper input {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.wpcf-admin-table th {
    text-align: left;
}

.wpcf-nd-small-input {
    width: 100px;
}

.wpcf-modal-customization {
    display: none;
}

.wpcf-modal-customization.is-active {
    display: table-row;
}