/* Google reCAPTCHA styling fix for the 2016 theme */
#recaptcha_table {
	table-layout:auto !important;
}


.wpcf-nd-error-message {
    display: block;
    border: 1px solid #ccc;
    padding: 5px;
    color: red;
}


.wpcf_wrapper p {
	margin-top:10px;
}

#wpcf_nd input,
#wpcf_nd textarea {
    width: 100%;
}

/* Integration with WP Live Chat Support */

#wp-live-chat-inner .wpcf_wrapper {
    display: block;
    height: 80%;
    overflow: auto;
    position: fixed;
}

#wp-live-chat-2 .wpcf_wrapper input {
	width: auto !important;
}

.g-recaptcha { margin-top:10px; }

/*
 * Themes
 */
.wpcf_nd label {
    position: relative;
}

.wpcf_nd .tooltip-element {
    position: absolute;
    right: 0;
    padding: 1px 7px;
    background-color: #999;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #a2a2a2;
}
:-moz-placeholder {
    color: #a2a2a2;
    opacity: 1;
}
::-moz-placeholder {
    color: #a2a2a2;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #a2a2a2;
}
::-ms-input-placeholder {
    color: #a2a2a2;
}

.wpcf_nd input[type="checkbox"] {
    display: inline-block;
    float: left;
    width: auto !important;
    margin: 5px 10px 0 0;
}

.wpcf_nd input,
.wpcf_nd textarea,
.wpcf_nd .fb-checkbox-label {
    margin-bottom: 16px !important;
}

.wpcf_nd .fb-checkbox-label {
    font-weight: 600;
}

/*
 * Slick theme
 */
.wpcf_nd--slick input[type="text"],
.wpcf_nd--slick input[type="email"],
.wpcf_nd--slick input[type="number"],
.wpcf_nd--slick input[type="date"],
.wpcf_nd--slick textarea {
    padding: 11px 15px;
    background-color: #e3e3e3;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .4);
    outline: 0;
    transition: all .3s;
}

.wpcf_nd--slick input[type="text"]:hover,
.wpcf_nd--slick input[type="text"]:focus,
.wpcf_nd--slick input[type="email"]:hover,
.wpcf_nd--slick input[type="email"]:focus,
.wpcf_nd--slick input[type="number"]:hover,
.wpcf_nd--slick input[type="number"]:focus,
.wpcf_nd--slick input[type="date"]:hover,
.wpcf_nd--slick input[type="date"]:focus,
.wpcf_nd--slick textarea:hover,
.wpcf_nd--slick textarea:focus {
    background-color: #ebebeb;
}

.wpcf_nd--slick input[type="submit"] {
    padding: 12px 9px;
    background-color: #696969;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .15);
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
}

.wpcf_nd--slick input[type="submit"]:hover {
    background-color: #999;
}

/*
 * Modern theme
 */
.wpcf_nd--modern input[type="text"],
.wpcf_nd--modern input[type="email"],
.wpcf_nd--modern input[type="number"],
.wpcf_nd--modern input[type="date"],
.wpcf_nd--modern textarea {
    padding: 11px 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    border-radius: 0;
    outline: 0;
    transition: all .3s;
}

.wpcf_nd--modern input[type="text"]:focus,
.wpcf_nd--modern input[type="email"]:focus,
.wpcf_nd--modern input[type="number"]:focus,
.wpcf_nd--modern input[type="date"]:focus,
.wpcf_nd--modern textarea:focus {
    margin-bottom: 15px;
    border-width: 2px;
    border-color: #666;
}

.wpcf_nd--modern input[type="submit"] {
    padding: 14px 9px;
    background-color: #696969;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .15);
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
}

.wpcf_nd--modern input[type="submit"]:hover {
    background-color: #999;
}