label { font-weight: bolder; }  
#sola_cfr_tabs .ui-tabs-nav {
    padding:0; 
    height:auto; 
 }
 
#sola_cfr_tabs h1 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 450;
}

 #sola_cfr_tabs .ui-tabs-nav {
    border-bottom: none !important; 
    margin-top: 0px !important;
     
 }

 #sola_cfr_tabs .ui-tabs-panel {
    padding:0;

 }

 #sola_cfr_tabs .ui-tabs-panel table {
    padding: 1px;
    
    font-style: normal;
 }

 #sola_cfr_tabs .ui-state-default{
 width: 180px;
 background-color: #D3D3D3;
 height: 35px;
 line-height: 30px;
 border: none !important;
 margin-bottom: 0px;
 margin-top: 3px;
 font-weight: 400;
 font-size: 12px;
    
 }

 #sola_cfr_tabs .ui-state-default a{
    color:#000;
    text-decoration:none;
    text-align: center;
    display: block;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 17px;
    
 }
 
 #sola_cfr_tabs .ui-state-active a:hover{
    cursor: pointer;
    border: none ;
 }

 #sola_cfr_tabs .ui-state-active {
    background-color: #fff;
    border: none;
     
 }

 #sola_cfr_tabs .ui-tabs-nav {
    text-align: left;
     background: #f1f1f1;
 }
 
 #sola_cfr_tabs  .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0 ;
    
 }
 

 #sola_cfr_tabs .ui-widget-header {
    border: 1px solid #dddddd;
    color: #333333;
    font-weight: bold;  
    
 }

 #sola_cfr_tabs .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
     
 }

 #sola_cfr_tabs .ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
 }

 #sola_cfr_tabs .ui-helper-clearfix:after {
    clear: both;
 }

 #sola_cfr_tabs .ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
 }

 #sola_cfr_tabs .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 10px;
    
 }
 
 #sola_cfr_tabs li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 5px 0;
    border-bottom-width: 0;
    white-space: nowrap;
         
 }

 #sola_cfr_tabs{
    margin: 1px .2em 15px 0;    
    
 }
 
 #sola_cfr_tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    font-weight: normal;
    color: #ffffff;
 }

 #sola_cfr_tabs .ui-tabs-nav {
    border-bottom: none;
    margin-top: 15px;
    
 }
 
 #sola_cfr_tabs .ui-tabs-anchor,
 .ui-tabs-anchor:active,
 .ui-tabs-anchor:focus{
    outline: none;
    box-shadow: none;
      
 }

 #sola_cfr_tabs .ui-state-default.ui-state-active {
    background-color: #fff;
    color: #000;
}

#sola_cfr_tabs .ui-state-active .ui-tabs-anchor{
    color: #000;

}
 
#sola_cfr_tabs #tabs-1 {
    background: #fff;
    padding: 0.3px;
    margin-top: 2px;
    padding-left: 13px;
    font-style: normal;
}


#sola_cfr_tabs #tabs-2 {
   background: #fff; 
    padding: 0.3px;
    margin-top: 2px;
    padding-left: 13px;
    font-style: normal;
    font-weight: 100;
}


#sola_cfr_tabs #tabs-3 {
    background: #fff; 
    padding: 0.3px;
    margin-top: 2px;
    padding-left: 13px;
    width: 2147px;
}

#sola_cfr_tabs #tabs-4 {
    background: #fff; 
    padding: 0.3px;
    margin-top: 2px;
    padding-left: 13px;
    font-style: normal;
    font-weight: 100;
}

#sola_cfr_tabs #tabs-5 {
    background: #fff; 
    padding: 0.3px;
    margin-top: 2px;
    padding-left: 13px;
    font-style: normal;
    font-weight: 100;
}

 textarea[name="wpcf_custom_css"] {
   border-color: #2B323C;
   background-color:#2B323C;
   background: #2B323C;
   color: #fff;
   padding-left: 10px;
 }
 
 .wp-core-ui .button-primary {
   background: #f3f5f6;
   color: #183ad6;
   
    
 }

 .wp-core-ui .button-primary:hover{
   background: #cee3ec;
    color: #007cba;
 }

